.header-bg {
	background-image: url('../img/page-events.jpg');
}

.content {
	border-bottom: 1px solid #ddd;
}

.content:last-child {
	border-bottom: none;
}

.event-date-meta h2 a {
	color: inherit;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}

.event-date-meta h2 a:hover {
	color: #3a3a3a;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}

.event-type-meta {
	padding-top: 10px;
	color: #999;
}

.event-type-meta p {
	margin: 0;
	font-size: 16px;
}

.event-type-meta span.category {
	font-size: 17px;
	font-family: 'Museo Fat';
	color: #8b8b8b;
}

.event-place-meta {
	padding: 10px 0;
	font-size: 17px;
}

.event-description-meta {
	font-size: 18px;
	font-style: italic;
}

.responsive-calendar {
	min-width: 235px;
}

.event-detail-header {
	text-align: center;
}

.event-detail-header h1 {
	margin-top: 0;
}

.content-description {
	font-size: 16px;
	font-style: italic;
}

.content-detail {
	font-weight: bolder;
	margin: 10px 0 0;
}

.content-detail p {
	margin: 3px 0;
	font-size: 14px;
	line-height: 1.2;
}

#event-info p {
	padding: 3px;
	font-size: 17px;
}

.info-box {
	padding: 15px;
	background: #f9f9f9;
}

.info-box h3 {
	margin-top: 0;
}

.event-detail-description {
	font-size: 17px;
}