/* MUSEUM PROFILE */

.header-bg {
	background-image: url('../img/page-museums.jpg');
}

#musnas {
	background-image: url('../../img/profile/museum-nasional.jpg');
	background-position: center;
	background-size: cover;
}

.list-participants {
	border-bottom: 1px solid #eee;
	margin: 0;
	font-size: 14px;
}

.list-participants.content {
	padding: 5px 15px;
}

.list-participants > img {
	width: 60px;
	height: 60px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.list-participants > a {
	font-size: 16px;
}

.wrap-museum-rating {
	background: rgba(0,0,0,0.4);
	color: #ffdb00;
	font-size: 30px;
	font-weight: bolder;
	padding: 15px;
}

.museum-rating {
	display: inline-block;
	unicode-bidi: bidi-override;
	direction: rtl;
}

.museum-rating > span.star {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
}

.museum-rating span.star:before {
	content: "\f006";
	padding-right: 5px;
	color: #777777;
}

.museum-rating > span:hover:before,
.museum-rating > span:hover ~ span:before {
   content: "\f005";
   color: #ffdb00;
   /* position: absolute; */
}

.info-museum {
	display: flex;
}

.info-museum p {
}

#museum-address address > span {
	padding: 6px 0;
}

#map-canvas {
	width: 100%;
	margin: 0;
	padding: 0;
	flex: 1 1;
}

.additional-info {
	margin-top: 20px;
}

.news-highlight > div, .events-highlight > div {
	margin: 5px 0;
}

.news-item {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding-right: 10px;
	box-shadow:0px 0px 0px 1px #eee inset;
}

.news-left {
	background: #56c90e;
	padding: 5px;
	text-align: center;
	color: white;
}

.news-right {
	/* color: #ee510a; */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.news-item:hover {
	background: #eee;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}

.news-right > a {
	display: block;
	margin-top: 3px;
}

.news-right:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 0 7.5px 10px;
	border-color: transparent transparent transparent #56c90e;
	line-height: 0;
	position: absolute;
	left: 0;
	top: 40%;
	margin-right: -10px;
}

.events-highlight .news-left {
	background: #f7941d;
}

.events-highlight .news-right:after {
	border-color: transparent transparent transparent #f7941d;
}

h3.more-info {
	margin: 0;
}

.reviews {
	color: #ffdb00;
	font-size: 30px;
	font-weight: bolder;
}

.score {
	display: inline-block;
	font-family: FontAwesome;
}

.reviews > small {
	color: #60605b;
	font-weight: normal;
}

.score-stars:before {
	content: "\f006";
	padding-right: 5px;
}

.score-stars-active:before {
	content: "\f005";
	padding-right: 5px;
}

/* END MUSEUM PROFILE */